/*
Theme Name: NineZeroSeven Child
Theme URI: http://www.webcreations907.com
Author: webcreations907
Author URI: http://themeforest.net/user/webcreations907
Template: ninezeroseven
Description: One Page Parallax Theme ~ If you need support please use the <a href="http://support.webcreations907.com/">Theme's Support Forum</a>
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags: black,white,orange,flexible-width,custom-background,custom-colors,featured-images,full-width-template,theme-options,translation-ready,left-sidebar,right-sidebar
*/

@import url("../ninezeroseven/style.css");


/************************************************************************
* Custom CSS code below
*************************************************************************/
.page-id-1651 .bg-cover-stretch{
    display: none !important;
}

.register-login-form .form{
    background-color: #ffffff;
    padding: 30px;
}
.register-login-form  .form-control{
    padding: 20px 10px;
    font-size: 16px;
}
.custom-btn{
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 2px;
    color: #fff ;
    background-color: #3a4e5f;
    text-transform: uppercase;
}

.note h3{
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin: 0;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
    left: 0;
    right: 0;
    top: 20%;

}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.register-login-form .container{
    width: auto;
}
.pull-left .padd-top{
    margin-top: 15px;
}
.pull-left .padd-top a{
    font-weight: bold;
}
.agreement-box{
    padding: 20px;
}
.agreement-text{
    margin: 0 auto;
    height: 300px;
    overflow-y: scroll;
}
@media screen and (max-width: 1720px) {
    .register-login-form .pull-left{
        float: none !important;
        text-align: center;
        margin-bottom: 20px;
    }
    .register-login-form .pull-right{
        float: none !important;
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .box{
        width: 70%;
    }
    .popup{
        width: 90%;
    }
}
.register-login-form .pull-right a{
    font-weight: bold;
}
.g-recaptcha{
    margin-bottom: 10px;
}